@use "variaveis";

.cast {
    background-color: variaveis.$bgSecondary;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 60px;

    

    h1{
        padding-bottom: 30px;
        color: variaveis.$colorTitles;
        font-size: variaveis.$title;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 30px;

        &__actor {
            padding: 32px;

            h3 {
                color: variaveis.$textPrimary;
                font-size: variaveis.$textBig;
                margin-top: 12px;
            }

            p {
                color: variaveis.$textSecondary;
                font-size: variaveis.$text;
            }

            img {
                border-radius: 15px;
                width: 100%;
                height: 320px;

                @media (max-width:1023px) {
                    height: 260px;
                }
            }
        }
    }
}