@use "variaveis";

.header {
    background-color: variaveis.$bgPrimary;
    position: sticky;
    top: 0;
    z-index: 1;

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        margin-bottom: 8px;

        &__item {
            padding-left: 22px;
            list-style: none;
            
            :hover {
                color: variaveis.$colorTitles;
            }

            a {
                font-size: variaveis.$text;
                font-weight: bold;
                color: variaveis.$textPrimary;
                text-decoration: none;
            }
        }
    }

    img {
        align-items: center;
        border-radius: 12px;
        margin-top: 18px;
        height: 80px;
        width: 60px;
    }
}