.movies {
    width: 100%;
    min-height: 976px;

    &__content {
        text-align: center;
        padding: 60px;

        h1 {
            padding-bottom: 48px;
        }

        & > p {
            padding: 0 100px;
        }


        &__items {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding-top: 60px;

            &__item {
                background-color: black;
                border: solid;
                border-radius: 15px;
                margin: 20px;
                padding-top: 12px;

                h3 {
                    padding: 24px 0;
                }

                p {
                    padding: 0 22px 24px;

                }

                img {
                    border-radius: 15px;
                    height: 180px;
                    width: 160px;
                }
            }
        }
    }
}