@use "variaveis";

.watch {
    background-color: #000;
    width: 100%;
    height: auto;
    padding: 0 40px;
    
    

    &__content {
        padding: 120px 0;
        text-align: center;
        
        h1 {
            color: variaveis.$corTitulos;
            font-size: 58px;
        }

        
        p {
            padding: 60px 180px 50px;
            text-align: center;
        }

        &__items {
            display: flex;
            justify-content: center;
            

            &__item {
                display: block;
                padding: 30px;
                

                img {
                    
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
}