@use "header";
@use "hero";
@use "variaveis";
@use "movies";
@use "watch";
@use "buttons";
@use "trailers";
@use "cast";
@use "faq";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", sans-serif;
}

footer {
    height: auto;
    width: 100%;
    text-align: center;
    background-color: variaveis.$bgSecondary;
    color: variaveis.$textSecondary;

    h3{
        font-size: variaveis.$textBig;
        padding-top: 32px;
    }

    p {
        font-size: variaveis.$textBig;
        padding-top: 14px;
        padding-bottom: 32px;
    }
}