//cores
$bgPrimary: #0D0D0D;
$bgSecondary: #1C1C1C;
$textPrimary: #F5F5F5;
$textSecondary: #CCCCCC;
$colorBtn: #7A1F1F;
$colorTitles:#D4AF37;

//font-sizes
$title: 3rem;
$subtitle: 2.25rem;
$textBig: 1.50rem;
$text: 1rem;
$textSmall: 0.875rem;
